@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Student_information_system_2.Models.Student

<h1>Edit Student</h1>

@if(Model is null)
{
    <p>Student With This ID Doesn't Exist'</p>
}

else
{
    <form method="post">

        <div class="mt-3">
            <label class="label-form">ID</label>
            <input type="text" class="form-control" asp-for="Id" readonly />
        </div>

        <div class="mt-3">
            <label class="label-form">Name</label>
            <input type="text" class="form-control" asp-for="Name" />
        </div>

        <div class="mt-3">
            <label class="label-form">Phone Number</label>
            <input type="text" class="form-control" asp-for="phone" />
        </div>

        <div class="mt-3">
            <label class="label-form">Email</label>
            <input type="email" class="form-control" asp-for="email" />
        </div>

        <div class="mt-3">
            <label class="label-form">Password</label>
            <input type="text" class="form-control" asp-for="password" />
        </div>

        <div class="mt-3">
            <label class="label-form">Major</label>
            <input type="text" class="form-control" asp-for="major" />
        </div>


        <div class="mt-3">
            <label class="label-form">Date of Birth</label>
            <input type="date" class="form-control" asp-for="dob" />
        </div>


        <div class="mt-3">
            <button type="submit" class="btn btn-dark">Save</button>
            <button type="submit" class="btn btn-danger ms-3" asp-action="Delete" asp-controller="Student">Delete</button>

        </div>

    </form>
}